{{- define "main" }}
<style>
  .pdf-container {
    width: 100%;
    height: 90vh;
    margin: 0 auto;
    padding: 0 24px;
  }

  .pdf-container iframe {
    width: 100%;
    height: 100%;
    border: none;
  }

  @media (max-width: 768px) {
    .pdf-container {
      padding: 0;
      height: 80vh;
    }
  }
</style>

<h1 style="text-align: center; font-size: 2.7rem; margin-bottom: 1rem; margin-top: 5rem">{{ .Title}}</h1>

<div class="pdf-container">
  <iframe src="{{ .Params.pdf_url }}" allowfullscreen></iframe>
</div>
{{- end }}
