{{- define "main" }}
<style>
   @import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400&display=swap');
  .scholarship-content {
    max-width: calc(1024px + 24px * 2);
    margin: 0 auto;
    padding: 0 24px;
    font-family: 'Lato', sans-serif;
  }

  .scholarship-content h1 {
    font-size: 3rem;
    margin-bottom: 1.5rem;
    text-align: center;
  }

  .scholarship-content h2,
  .scholarship-content h3 {
    font-size: 1.5rem;
    margin-top: 2rem;
    margin-bottom: 2.0rem;
  }

  .scholarship-content p,
  .scholarship-content li {
    font-size: 1rem;
    line-height: 1.3;
    margin-bottom: 1.5rem;

  }

  .scholarship-content a {
    color: #25C722;
    text-decoration: none;
    font-family: 'Lato', sans-serif;
  }

  .scholarship-content a:hover {
    text-decoration: underline;
  }
</style>

<div class="scholarship-content">
  {{ .Content }}
</div>
{{- end }}
